{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <b>Title</b><p>{{ book.title }}</p>
    <b>Author</b><p>{{ book.author }}</p>
    <b>ISBN</b><p>{{ book.isbn }}</p>
    <b>Year</b><p>{{ book.year }}</p>
    {% if av_rngs!=0%}
        <b>Rating</b><p>{{ av_rngs }}</p>
        <b>Voted</b><p>{{ rcount }}</p>
    {% else %}
        <p>No google reviews.</p>
    {% endif %}
    
        <form action="{{ url_for('comment', isbn = book.isbn) }}" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Leave a comment" aria-describedby="button-addon2" name="comment">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" value="Search" id="button-addon2">Submit</button>
                </div>
            </div>
        </form>
                        <div class="clearfix"></div>
                        <hr>
                        {% for comment in comentarios %}
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                    </span>
                                    <strong class="text-success">{{ comment.usuario}}</strong>
                                    <p>
                                        {{ comment.comments}}
                                    </p>
                                </div>
                            </li>
                            
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
        </div>
    </div>
{% endblock %}