{% extends "layout.html" %}

{% block title %}
JayBooks
{% endblock %}

{% block body %}
        {% if book_isbn%}
            <p>By ISBN</p>
            <h1>{{ book_isbn.title }}</h1>
            <a href="{{ url_for('books', isbn=book_isbn.isbn) }}">
                {{ book_isbn.title }}
            </a>
        {% else %}
        {% endif %}

    {% if books_author %}
        <p>By Author</p>
        {% for book in books_author %}
            <a href="{{ url_for('books', isbn=book.isbn) }}"><li>{{ book.title }}</li></a>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if books_title %}
        <p>By Title</p>
        {% for book in books_title %}
            <li>{{ book.title }}</li>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}